body {
  margin: 0;
  background-color: #023047;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
h1 {
  font-size: 50px;
  color: #fb8500;
  margin-bottom: 0;
}
h2 {
  color: #ffb703;
  margin-top: 10px;
}
label {
  padding-bottom: 20px;
}
.title {
  font-size: 20px;
  color: white;
  margin: 10px;
}
